name: Development Build
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: 8.0.332+9
          distribution: 'adopt'
      - name: Build
        run: ./gradlew build
      - name: Release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: '${{ secrets.GITHUB_TOKEN }}'
          automatic_release_tag: "latest-1.8.9"
          prerelease: true
          title: "1.8.9 Forge Build | v1.7"
          files: |
            ./build/libs/*.jar
